<!-- 

  File: services.ejs
  Name: Amin Patel
  ID: 300968902
  Date: Feb 15th, 2021

-->

<%- include partials/header.ejs%>

  <%- include partials/main_nav.ejs%>


    <!-- Main Content -->

    <body>
      <main class="container">
        <div class="jumbotron">
          <h1 class="display-4"><%= title %></h1>
          <p class="lead"></p>
          <hr class="my-4">
          <p>Welcome to my Portfolio!</p>
          <hr class="my-4">
          <p><img src="/assets/images/logo.png" alt="Logo" width="500" height="333" class="logo"></p>
          <p>My name is Amin, and I am currently studying at Centennial College for Software Engineering. I am in my second year, fourth semester.</p>
          <p>During my time at Centennial College, I've learnt the following languages; C#, Java, Python, HTML, CSS, and in addition, MySQL.</p>
          <p>Interested in reading more? Feel free to read more <a href="http://127.0.0.1:3000/about">about me</a>.</p>
        </div>
      </main>



      <%- include partials/footer_nav.ejs%>

        <%- include partials/footer.ejs%>