<!-- 

  File: services.ejs
  Name: Amin Patel
  ID: 300968902
  Date: Feb 15th, 2021

-->

<%- include partials/header.ejs%>

  <%- include partials/main_nav.ejs%>


    <!-- Main Content -->

    <body>
      <main class="container">
        <div class="jumbotron">
          <h1 class="display-4"><%= title %></h1>
          <p class="lead">Hi! Nice to meet you!</p>
          <hr class="my-4">
          <p><img src="/assets/images/id.jpg" alt="Logo"class="id"></p>
          <hr class="my-4">
          <p>Amin Patel | Toronto, ON</p>
          <hr class="my-4">
          <p>My abilities and experience are befitting for a Software Engineer role. Working with various languages such as C#, Java, Python, and HTML, I have good experience, which makes me a perfect job applicant.</p> 
          <p>Further building this foundation, I have studied at Centennial College as a Software Engineering Technician and have obtained my diploma as a Software Engineer.</p>
          <p>Some core skills that I have acquired is being efficient in, Software Development, Website Development, MySQL Database, Java, and Linux CMD.</p> 
          <p>On the lighter note, a few soft skills that I possess are, being a good problem solving, efficient time management, great leadership, easy to work with others, precision to detail, and good communication skills.</p>
          <p class="lead">
            <p>&nbsp;</p>
            <a class="btn btn-primary btn-lg" href="/assets/pdf/Resume.pdf" role="button">Resume</a>
          </p>
        </div>
      </main>

      <%- include partials/footer_nav.ejs%>

        <%- include partials/footer.ejs%>